body {
  direction: ltr; }

/* Start Top Navbar */
.nav form.sear .search-cont button {
  right: 5px;
  left: auto; }

.nav .lang {
  text-align: right; }

.nav .lang span {
  font-size: 15px; }

.nav .logo-nav form.search .search-cont button {
  right: 5px;
  left: auto; }

.nav .logo-nav .sign-bar {
  width: auto; }

.nav .logo-nav .sign-bar div.user:before {
  right: 50%; }

.nav .logo-nav .sign-bar div.cart span {
  left: -10px; }

.nav .logo-nav .sign-bar a i {
  margin-left: 0px !important;
  margin-right: 8px; }

/* End Top Navbar */
/* Start Main Navbar */
.sec-nav .main-nav .menu li {
  margin-right: 23px;
  margin-left: 0; }

.sec-nav .main-nav .menu li:last-child {
  margin: 0; }

.sec-nav .main-nav .contact {
  font-size: 14px; }

.sec-nav .main-nav .contact i {
  margin-right: 5px;
  margin-left: 0;
  transform: rotate(90deg); }

.sec-nav .main-nav .contact span {
  margin-left: 10px;
  margin-right: 0; }

/* End Main Navbar */
/* Start XS-Navbar */
.xs-nav {
  text-align: left; }

.xs-nav .menu i.closebtn {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: 25px; }

.xs-nav .menu ul {
  margin-right: 0;
  margin-left: 30px; }

.xs-nav .menu .contact {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; }

.xs-nav .menu .contact i {
  margin-left: 0;
  margin-right: 5px;
  transform: rotate(90deg); }

.xs-nav .menu .contact span {
  font-size: 14px;
  margin-right: 0;
  margin-left: 10px; }

@keyframes drop {
  0% {
    left: -85%; }
  100% {
    left: 0; } }

@keyframes back {
  0% {
    left: 0; }
  100% {
    left: -100%; } }

.back {
  animation: back 0.5s ease forwards; }

.shad {
  box-shadow: 150px 0px 5px 0px rgba(0, 0, 0, 0.5); }

/* End XS-Navbar */
/* Start header */
.head-sec .head .righ {
  padding-left: 15px;
  padding-right: 8px; }

@media (max-width: 767px) {
  .head-sec .head .righ {
    padding-right: 0px;
    padding-left: 0px; } }

.head-sec .head .lef {
  padding-right: 15px;
  padding-left: 9px; }

@media (max-width: 767px) {
  .head-sec .head .lef {
    padding-left: 15px; } }

/* End header */
/* Start Specials */
.our-Specials .title {
  border-left: 3px solid #70b7ba;
  border-right: none; }

/* End Specials */
/* Start New Arrival */
.new-arrivals .title {
  border-left: 3px solid #70b7ba;
  border-right: none; }

/* End New Arrival */
/* Start Most Sell */
.most-sells .title {
  border-left: 3px solid #70b7ba;
  border-right: none; }

/* End Most sell */
/* Start Footer */
.foot {
  background-color: #333333;
  padding-top: 24px; }

.foot .featuers {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 23px;
  margin-bottom: 55px;
  border-bottom: 1px solid #403d40; }

@media (max-width: 767px) {
  .foot .featuers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 30px; } }

.foot .featuers .featuer {
  text-align: center; }

@media (max-width: 767px) {
  .foot .featuers .featuer {
    margin: 0 0 20px; } }

.foot .featuers .featuer img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.75s ease-in-out; }

.foot .featuers .featuer img:hover {
  transform: rotate(360deg);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out; }

.foot .featuers .featuer h3 {
  font-size: 15px;
  color: #ffffff;
  margin: 10px 0 5px;
  padding: 0;
  font-family: bold; }

.foot .featuers .featuer p {
  font-family: bold;
  font-size: 14px;
  color: #8d8d8d; }

.foot .nav-foot {
  text-align: left; }

.foot .nav-foot p {
  text-align: left; }

@media (max-width: 577px) {
  .foot .nav-foot p {
    text-align: center;
    font-size: 13px; } }

@media (min-width: 576px) and (max-width: 991px) {
  .foot .nav-foot p {
    text-align: center; } }

.foot .nav-foot .links li {
  text-align: left; }

.foot .nav-foot form .news-cont button {
  left: auto;
  right: 24px; }

.foot .nav-foot .social li {
  margin-left: 0;
  margin-right: 15px; }

.foot .nav-foot .social li:last-child {
  margin-right: 0; }

.foot .copy-right .copy img {
  margin-right: 0;
  margin-left: 7px; }

/* End Footer */
